$font-stack: Helvetica, sans-serif;
$primary-color: #333;

html {
  font-size: 18px;
}

body {
  font: 100% $font-stack;
  color: $primary-color;
}

main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

ul.segments {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul.breadcrumbs {
  padding: 1rem 0.5rem;
  list-style: none;

  li {
    display: inline;
  }

  li + li:before {
    padding: 0.5rem;
    content: ">";
  }
}
